body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
}

.grad {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    z-index: 1;
}

.header {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 350px);
    z-index: 2;
    text-align: center;
    font-weight:bold;
}

.header div {
    float: left;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 28px;
    background: transparent!important;
    border:none!important;
}

.ui-button {
    background: transparent !important;
    border: none !important;
    float: left;
    color: white!important;
    font-family: 'Exo', sans-serif;
    font-size: 28px;
}


.ui-button:hover {
    color: #e4f56e !important;
}

.ui-state-active {
    text-decoration: underline !important;
    color: #e4f56e !important;
}

.body {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url(https://wallpaperbrowse.com/media/images/background-pictures-2.jpg);
    background-size: cover;
    -webkit-filter: blur(8px);
    z-index: 0;
}

.my-selectbutton {
    background: transparent;
}