<div style="direction:rtl">
    <div class="log-header">
        <h3>
            יומן הפעילות של יוסי ב- 7/5/2017
        </h3>
        <div class="log-table">
            <ul>
                <li *ngFor="let act of activities">
                    <span>
                        7:30
                    </span>
                    <span>
                        אכלתי
                    </span>
                    <span>
                        מטרנה 120 מ"ל
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>