<div style="direction:rtl">
    <div class="log-header" *ngIf ="babyLog">
        <h3 >
            {{babyLog.babyName}}'s activities on {{babyLog.date}}
        </h3>
        <div class="log-table">
            <ul>
                <li *ngFor="let act of babyLog.actsLog">
                    <span>
                    </span>
                    <span>
                        אכלתי
                    </span>
                    <span>
                        מטרנה 120 מ"ל
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>


<add-activity></add-activity>