<div class="log-table">
    <ul>
        <li *ngFor="let act of activities">
            <div class="log-row">
                <span class="time">
                    {{act.time}}
                </span>
                <span class="activity">
                    {{act.type | actPipe}}
                </span>
                
                    <input type="text"  class="remark" [ngClass]="{'disabled' : !isNanny }" [(ngModel)]="act.remark">
               
            </div>
            <button class="btn" *ngIf="isNanny" (click)="updateActivity(act)">Save</button>
        </li>
    </ul>
</div>



