ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 350px;
    height: 150px;
}

.log-row {
    width: 300px;
    height: 80px;
    padding: 5px;
    border: 1px solid #e4e6e8;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: none;
}

.activity {
    font-weight: bold;
    font-size: large;
    margin: 10px;
}

.time {
    font-size: x-large;
    padding: 10px;
    padding-top: 18px;
    height: 80px;
    float: left;
    color: cadetblue;
    font-weight: bold;
}

.remark {
    float: left;
    padding:10px;
    color: gray;

}


.disabled {
    opacity: 0.8;
    pointer-events: none;
    border: none;
}


.btn {
    padding: 8px;
    background-color: #35d097;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;
    font-weight: bold;
    font-family:'Lucida Sans';
    color: teal;
    border-radius: 2px;
    cursor: pointer;
}