<div class="body"></div>
<div class="wrapper">
    <h2>View Baby's Activity Log</h2>
    <div class="log-header">
        <h3>
            <select [ngModel]="babyLog.baby" (ngModelChange)="onBabyChange($event)" [ngClass]="{'disabled': !isNanny()}">
                <option *ngFor="let baby of babies" [ngValue]="baby">{{baby.name}}</option>
            </select>'s activities on
            <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="babyLog.date" [inputStyleClass]="datepicker" (onSelect)="filterBabyLogByDate()"></p-calendar>
        </h3>
        <baby-log [activities]="babyLog.actsLog"></baby-log>
    </div>
</div>
